/* Golbal ======================== */



a {
    text-decoration: none;   /* removes underline */
    color: inherit;          /* makes it use the parent text color */
    direction: initial;      /* resets text direction */
    
}

body{
    text-transform: capitalize;
        font-size: 14px;
    line-height: 1.42857143;
}

img{
    width: 100%;
}



/* Golbal *>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/




/* start navbar */



.navbar-brand{
    text-transform: uppercase;
    color:white;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 18px;
}




.navbar-nav li a{
    padding: 0 10px;
}


 .nav-link  {
    color: white;
    margin: 0 15px;
}




/* end navbar ======================== */








/* start Header ======================== */




.header{
background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../imgs/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-attachment: fixed;
    
}




.header-content{

color: white;
}

.header-content h1{
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
}

.header-content h1 span{
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 60px;
}


.icons-header a span .fa-brands {
  font-size: 15px;
    width: 30px;              
    height: 30px;            
    line-height: 30px;        
    border-radius: 50%;       
    background-color: rgb(0, 0, 0,0.4);  
    color: white;         
    display: inline-block; 
  
}



.icons-header a {
    padding: 7px;
    transform: translateX(10px);
}



.header-content h1::after{
    content: 'Larry Daniels';

animation-name: typing-animation;
animation-iteration-count: infinite;
animation-duration: 7s;
transition: 2s ease; 
animation-direction: alternate-reverse;
animation-delay: 1s;
animation-play-state: running;
}

/* .header-content h1::after {
    content: 'Larry Daniels';
    animation: typing-animation 7s infinite alternate-reverse 1s running;
} */





@keyframes typing-animation {
  /* Larry Daniels - كتابة */
  0%    { content: "L"; }
  1.66% { content: "La"; }
  3.33% { content: "Lar"; }
  5%    { content: "Larr"; }
  6.66% { content: "Larry"; }
  8.33% { content: "Larry "; }
  10%   { content: "Larry D"; }
  11.66%{ content: "Larry Da"; }
  13.33%{ content: "Larry Dan"; }
  15%   { content: "Larry Dani"; }
  16.66%{ content: "Larry Danie"; }
  18.33%{ content: "Larry Daniel"; }
  20%   { content: "Larry Daniels"; }

  /* Larry Daniels - مسح */
  21.66%{ content: "Larry Daniel"; }
  23.33%{ content: "Larry Danie"; }
  25%   { content: "Larry Dani"; }
  26.66%{ content: "Larry Dan"; }
  28.33%{ content: "Larry Da"; }
  30%   { content: "Larry D"; }
  31.66%{ content: "Larry"; }
  33.33%{ content: "Lar"; }
  35%   { content: "La"; }
  36.66%{ content: "L"; }
  38.33%{ content: ""; }

  /* Developer - كتابة */
  40%   { content: "D"; }
  41.66%{ content: "De"; }
  43.33%{ content: "Dev"; }
  45%   { content: "Deve"; }
  46.66%{ content: "Devel"; }
  48.33%{ content: "Develo"; }
  50%   { content: "Develop"; }
  51.66%{ content: "Develope"; }
  53.33%{ content: "Developer"; }

  /* Developer - مسح */
  55%   { content: "Develope"; }
  56.66%{ content: "Develop"; }
  58.33%{ content: "Develo"; }
  60%   { content: "Devel"; }
  61.66%{ content: "Deve"; }
  63.33%{ content: "Dev"; }
  65%   { content: "De"; }
  66.66%{ content: "D"; }
  68.33%{ content: ""; }

  /* Designer - كتابة */
  70%   { content: "D"; }
  71.66%{ content: "De"; }
  73.33%{ content: "Des"; }
  75%   { content: "Desi"; }
  76.66%{ content: "Desig"; }
  78.33%{ content: "Design"; }
  80%   { content: "Designe"; }
  81.66%{ content: "Designer"; }

  /* Designer - مسح */
  83.33%{ content: "Designe"; }
  85%   { content: "Design"; }
  86.66%{ content: "Desig"; }
  88.33%{ content: "Desi"; }
  90%   { content: "Des"; }
  91.66%{ content: "De"; }
  93.33%{ content: "D"; }
  95%   { content: ""; }


  100%  { content: ""; }
}

.fa-brands{
    color: white;
}








/* end Header========================  */



.test{
    padding-top: 25px;
}




     /* start about me========================   */   

.about-me{
    background-color: #FFFFFF;
    padding-top: 70px;
}



.img-about{
    width: 40%;
   
}














.info1 h3{
    font-family: Montserrat, sans-serif;

font-size: 30px;
font-weight: 800;
color: rgb(52, 52, 52);


}

.info1 .another{
      font-family: Poppins, sans-serif;
      font-size: 15px;
      color: rgb(116, 129, 130);
      font-weight: 400;
 
}


.info1{
    font-family: Poppins, sans-serif;
      font-size: 15px;
      color: rgb(116, 129, 130);
      font-weight: 400;
     
}


.highlight{
    color: rgb(116, 129, 130);
    font-size: 15px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    line-height: 24px;
}



.analsis1{

padding-top: 20px;
    width: 105%;


      box-shadow: 0px 0px 2px gray;
    background-color: #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
position: relative;

}




.progresss1{
     background-color: #111;
    color: white; 
    text-align: right;
    font-weight: bold;
      border-radius: 5px;
    position: absolute;
    top: 0;
  
    left: 0;
    width: 95%;
    height: 20px;
    right: 20px;
}





.web-design{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255);
transform: translateX(-30px);
}



.number-95{
 transform: translateX(460px);
     font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(255, 255, 255);
    
}






.analsis2{

padding-top: 20px;
    width: 100%;


    box-shadow: 0px 0px 2px gray;
    background-color: #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
position: relative;

}




.progresss2{
     background-color: #111;
    color: white; 
    text-align: right;
    font-weight: bold;
      border-radius: 5px;
    position: absolute;
    top: 0;
  
    left: 0;
    width: 85%;
    height: 20px;
    right: 20px;
}

.number-80{
  transform: translateX(400px);
     font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(255, 255, 255);
}






.analsis3{

padding-top: 20px;
    width: 100%;


    box-shadow: 0px 0px 2px gray;
    background-color: #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
position: relative;

}




.progresss3{
     background-color: #111;
    color: white; 
    text-align: right;
    font-weight: bold;
      border-radius: 5px;
    position: absolute;
    top: 0;
  
    left: 0;
    width: 90%;
    height: 20px;
    right: 20px;
}

.number-90{
  transform: translateX(330px);
     font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(255, 255, 255);
}





.button1{
    border: solid 2px black;
    padding: 5px 20px;
    border-radius: 8px;
    padding-block: 5px;
    color: white;
    background-color: black;
    transition: background-color 0.5s ease, color 0.3s ease;
  
}



.button2{
    border: solid 2px #8d8d8de8;
   
    border-radius: 8px;
    padding-block: 4px;
    color: white;
 
padding: 6px 20px;
color: black;
 transition: background-color 0.5s ease, color 0.3s ease;

}





.button2 span{
  
   padding-left: 10px;
       font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}


.button1:hover{
    background-color: white;
    color: black;
}


.button2:hover{
    background-color: black;
    color: white;
}







 /* end about me ========================  */   








/* Start Services. ======================== */


/* check!! */
.Services{
  padding-bottom: 80px;
  background-color: #F7F7F7;
}

.container{
    
    padding-top: 80px;
    position: relative;
}

.Services .container h2{
    text-align: center;
color: rgb(52, 52, 52);
font-size: 40px;
font-weight: 900;
font-family:Montserrat, sans-serif;
line-height: 44px;
}



.Services .container h2::before{
    content: '';
   
    position: absolute;
    top: 125px;
    left: 560px;
 
   width: 200px;
   height: 0;


border-top: 5px dotted rgb(128, 128, 128);
opacity: 0.1;
}





.cards-Services{
    padding-top: 80px;
    
}



.one-card{
    box-shadow:  0 0 8px rgba(128, 128, 128, 0.43);
     background-color: #FFFFFF;
}


.one-card span{
    
padding: 20px 0;
font-family:Montserrat, sans-serif;
color: rgb(52, 52, 52);
font-size: 18px;
font-weight: 800;
line-height: 20px;

}


.one-card p {
    padding-top: 20px;
font-family: Poppins, sans-serif;
    color: rgb(116, 129, 130);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


.fa-solid{
 
   font-size: 30px;
   width: 80px;
   height: 80px;
   line-height: 80px;
   background-color: #EFEFEF;
   border-radius: 100%;
   display: inline-block;
   color: black;
   transition:background-color ;
   transition-duration: 500ms;
}




.inner:hover .fa-solid{
    background-color: #111;
    color: #EFEFEF;
}

.icon-f .fa-regular{
    font-size: 30px;
   width: 80px;
   height: 80px;
   line-height: 80px;
   background-color: #EFEFEF;
   border-radius: 100%;
   display: inline-block;
   color: black;
   transition:background-color ;
   transition-duration: 500ms;
}


.inner:hover .fa-regular{
    background-color: #111;
    color: #EFEFEF;
}


/* end Services. ======================== */


/* start Portfolio. ======================== */



.Portfolio{
    padding-top: 50px;
}

.container-owner{
    
    width: 80%;
    margin: auto;
}

.h2-Portfolio h2{
    font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
}

.h2-Portfolio h2::after{
    content: '';
   
    position: absolute;
    top: 85px;
    left: 490px;
 
   width: 200px;
   height: 0;


border-top: 5px dotted rgb(128, 128, 128);
opacity: 0.1;
}





.nav-item .nav-link{
    
    padding: 0 15px;
    font-weight: 700;
    font-size: 16px;
    color: rgb(34, 34, 34);
    line-height: 23px;
    font-family: Poppins, sans-serif;
}


.nav-tabs {
    border: none !important;
    border-radius: 0 !important; 
}



.nav-tabs .nav-link {
    border: none !important; 
    border-radius: 0 !important;
}













.card-item-portfolio{
  width: 30%;
    margin: 20px;
  
}




.layer-portfolio{
        position: absolute;
        background-color:white;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

       text-align: center;

       border: 5px solid #E0E0E2;
      opacity: 0;

      transition:opacity ;
      transition-duration: 1s;
}



.card-item-portfolio:hover .layer-portfolio{
    /* display: block; */
 opacity: 1;
}



.child1:hover,.child2:hover{
    color: black;
    background-color: white;
    background-color: transparent;
border: 2px solid black;
border-radius: 50%;
}

.WD-I{
    font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
transform: translateY(110px);
}

.child1{
    color: white;
transform: translateY(110px);
background-color: black;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 50px;
transition: background-color;
transition-duration: 500ms;

}
.child2{
   color: white;
transform: translateY(110px);
background-color: black;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 50px;
transition: background-color;
transition-duration: 500ms;
}





/* end Portfolio.========================  */



/* start Testimonials.======================== */


.Testimonials{
    
    background-color: #F7F7F7;
 
    min-height: 70vh;
  
}



.container-Testimonialsy{
    width: 80%;
    margin: auto;
}

.content-Testimonialsy{
    position: relative;
   
}

.content-Testimonialsy h2{
    font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    padding-top: 40px;
}


.content-Testimonialsy h2:after{
     content: '';
   
    position: absolute;
    top: 130px;
    left: 465px;
 
   width: 280px;
   height: 0;


border-top: 5px dotted rgb(128, 128, 128);
opacity: 0.1;

}


.info-Testimonialsy{
    padding-top: 60px;
}




#carouselExampleIndicators .carousel-indicators{
   
  margin-bottom: 20px;
  transform: translateY(60px);
}


.carousel-indicators button{
     width: 15px !important; 
    height: 0 !important;
    margin: 5px 7px !important;
    background: #d6d6d6 !important;
    display: block !important;

    transition: opacity 0.2s ease !important;
    border-radius: 10px !important;
    
}


.carousel-inner .carousel-item{
  
  display: none; 
  justify-content: center;
  align-items: center;
  text-align: center;
    
}



.carousel-item.active {
  display: flex; 
}









.card-img-slider img{
    width: 90px;
    height: 90px;
   
    border-radius: 100px;
}



.paragraph p{
    padding-top: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: rgb(116, 129, 130);
}

.paragraph h4{
font-family: Montserrat, sans-serif;
color: rgb(52, 52, 52);
font-size: 16px;
font-weight: 600;
line-height: 18px;

}


.paragraph span{
    font-weight: 600;
    font-size: 12px;
    color: rgb(136, 136, 136);
    font-family: Poppins, sans-serif;

    
}

/* End Testimonials.===================== */






/* start customers.===================== */



.section-customers{
    margin-top: 60px;
    background-color: white;


}



.container-customers{
transform: translateY(50px);
 
    width: 80%;
   margin: auto;
}




.c-customer{

    
    width: 25%;
    text-align: center;
}


.c-customer .fa{
 font-size: 40px;
}


.c-customer .span-c1 span{
 
font-family: Montserrat, sans-serif;
color: rgb(52, 52, 52);

font-size: 30px;
font-weight: 900;



}


.c-customer .span-c2 span{
    
    font-family: Poppins, sans-serif;
    color: rgb(116, 129, 130);
    font-weight: 600;
    font-size: 15px;

}




/* end customers.===================== */









/* start our team.===================== */

.section-team{
    margin-top: 180px;
background-color: #F7F7F7;
height: 100vh;

}





.container-our-team{
    width: 75%;
    margin: auto;
    position: relative;

}





.content-team h2{
    font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
padding-top: 100px;
}



.content-team h2::after{
  
      content: '';
   
    position: absolute;
    top: 140px;
    left: 450px;
 
   width: 230px;
   height: 0;


border-top: 5px dotted rgb(128, 128, 128);
opacity: 0.1;
}




.card-teams{
    margin-top: 40px;
}




.card-teams .inner {
  position: relative;

}

.card-teams img {
  width: 100%;
 
}




.box2{
    
  position: absolute;
  width: 363px;
  height: 120px;
  background: #555;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.box2 h4{
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
}





.box3{

  position: absolute;
  width: 363px;
  height: 120px;
  background: #555;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box3 h4{
       color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
}


.box4{

  position: absolute;
  width: 363px;
  height: 120px;
  background: #555;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}




.box4 h5{
          color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
}




.layer-team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  gap: 10px;
  opacity: 0;


transition:transform 1.5s ;
}

.layer-team a {
    background-color: black;
  color: white;
  font-size: 18px;
 
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* عند عمل hover على الصورة */
.inner:hover .layer-team {
  opacity: 0.9;
transform: rotatey(360deg);

}





.inner:hover img {
  transform: scale(1.08);
  transition: transform 0.5s ease; /* حركة سلسة */
}


/* عند عمل hover على الأيقونات */
.layer-team a:hover {
  background: white;
  color: black;

}



/* end our team.===================== */



/* start contact us.===================== */





.section-contact-us{
    height:100vh ;
    /* background-color: rgba(128, 128, 128, 0.558); */
}

.container-contact{
    width: 70%;
    margin: auto;
    position: relative;

}


.info-contact h2{
 font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
padding-top: 100px;
}


.info-contact h2::after{
    
      content: '';
   
    position: absolute;
    top: 140px;
    left: 400px;
 
   width: 230px;
   height: 0;


border-top: 5px dotted rgb(128, 128, 128);
opacity: 0.1;
}




.card-contact{
    display: flex;
    flex-direction: column;
}


.owner-contact{
    transform: translateX(-30px);
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}








.card-contact .fa:hover{
   background-color: black;
   color: white;
}








.card-contact .fa{
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: #F4F4F4;
    color: black;                 /* لون الأيقونة */
  border: 2px solid #F4F4F4;      /* البوردر */
  border-radius: 60%;             /* يخليها دائرة */
  padding: 10px;                  /* مسافة بين الأيقونة والبوردر */
  display: inline-flex;           /* ضبط التمركز */
  justify-content: center;
  align-items: center;
 margin-bottom: 10px;
 transition: background-color 1s;
}

.card-contact span{
    font-family: Montserrat, sans-serif;
    color: rgb(52, 52, 52);
    font-size: 16px;
    font-weight: 700;
    

}

.card-contact p{
    font-family: Poppins, sans-serif;
    color: rgb(116, 129, 130);
    font-size: 15px;
    font-weight: 400;
   
}




.form-control{
    width: 50% !important;
}




.formsrow{
    display: flex;
}


.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-field {
    flex: 1;
    padding: 15px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
}

.input-field::placeholder {
    color: #888;
}

.textarea-field {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 16px;
    resize: vertical;
    color: #333;
}

.textarea-field::placeholder {
    color: #888;

}




.submit-btn {
    background-color: #1a1a1a;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 1s;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}






/* end contact us.===================== */


.section-final{
    background-color: #1C1C1C;
    margin-top: 100px;
    height: 10vh;
}



.container-final{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}



.p-final p{
   color: #748172; 
   font-family: Poppins, sans-serif;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
}


